.container
    width: 100%
    display: flex
    justify-content: center
    .product
        width : 100%
        display: flex
        flex-wrap: wrap
        .card
            width: 330px
            height: 523px
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
            margin: 20px 40px 20px 0
            .name
                display: flex
                justify-content: space-between
                h4
                    font-weight: 700
                    color: blue
                .heart
                    cursor: pointer
                    font-size: 30px 
                    margin: 5px 20px 0 0
                .heartActive
                    cursor: pointer
                    font-size: 30px
                    margin: 5px 20px 0 0
                    color: gold
            .price, .name, .category
                margin-left: 7px
            .btn    
                width: 100%
                display: flex
                justify-content: center
                margin-top: 8px
                .inBasket
                    &:hover
                        background-color: #1976d2
                        color: #fff
                button
                    width: 200px
                    font-size: 19px
                    height: 45px                        
            .image
                width: 330px
                height: 375px
                position: relative
                .details
                    position: absolute
                    left: 290px
                    font-size: 26px
                img
                    height: 100%
                    width: 100%


